@import url('https://fonts.googleapis.com/css2?family=Neucha');

.App {
  text-align: center;
  font-family: "Neucha", cursive;
  background-color: rgb(60, 155, 228);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding: 1rem;
}

header h1 {
  margin:0;
  font-size: 2.5rem;
  text-transform: uppercase;
  z-index: 1;
}

